* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  padding: 40px;
}

input {
  font-size: 1.3rem;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.gif-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2.5px;
}

.gif-container p {
  padding: 5px;
  margin-top: 10px;
  text-align: center;
}

.gif-image {
  width: 55%;
  /* Set the width to 100% to make it responsive */
  height: auto;
  /* Automatically adjust the height to maintain aspect ratio */
}